<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 15%">Date</th>
        <th style="width: 40%">Commit Message</th>
        <th style="width: 15%">Author Name</th>
        <th style="width: 15%">Author Email</th>
        <th style="width: 15%">Author Avatar</th>
      </tr>
    </thead>
    <tbody>
      {{#each content as |row|}}
        <tr>
          <td>
            {{moment-format row.commit.author.date "MMMM Do YYYY, h:mma"}}
          </td>
          <td>
            {{table-cell-toggle-text content=row.commit.message}}
          </td>
          <td>
            {{row.commit.author.name}}
          </td>
          <td>
            {{row.commit.author.email}}
          </td>
          <td>
            <img src="{{row.author.avatar_url}}" width="150" height="150">
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
